@* Views/Charts/_AreaBasic.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Area Chart</strong></h4>
    </div>
    <div class="card-body">
        <div id="areaChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/area-basic.js"></script>
