@* Views/Charts/_BarBasic.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Basic Bar Chart</strong></h4>
    </div>
    <div class="card-body">
        <div id="barChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/bar-basic.js"></script>
