@* Views/Charts/_BubblePackedcshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Packed Bubble Chart</strong></h4>
    </div>
    <div class="card-body">
        <div id="bubbleChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/bubble-packed.js"></script>
