@* Views/Charts/_ColumnRange.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Column Range</strong></h4>
    </div>
    <div class="card-body">
        <div id="columnChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/column-range.js"></script>
