@* Views/Charts/_LineBasic.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Line Chart</strong></h4>
    </div>
    <div class="card-body">
        <div id="lineChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/line-basic.js"></script>
