@* Views/Charts/_PieDonut.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Donut Chart</strong></h4>
    </div>
    <div class="card-body">
        <div id="pieChartContainer"></div>
    </div>
</div>

<script src="/js/chartRenderer.js"></script>

<script>
    renderPieChart({
        data: [
            { label: "ITQ", value: 3 },
            { label: "Data Scientist", value: 6 },
            { label: "Software Development", value: 7 },
            { label: "Data Analyst", value: 2 },
            { label: "Prompt Engineer", value: 1 }
        ],
        containerId: "#chartCard",
        title: "Open iT Internship Roles (2025)",
        colorPalette: ["#2caffe", "#544fc5", "#00e272", "#fe6a35", "#d568fb"],
        innerRadiusRatio: 0.75,
        showCenterTotal: true,
        isSemiCircle: false
    });
</script>
