@* Views/Charts/_PieDonut.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Semi Circle Donut</strong></h4>
    </div>
    <div class="card-body">
        <div id="pieChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/pie-semi-donut.js"></script>
