@* Views/Charts/_ScatterBasic.cshtml *@


<div class="card shadow-sm mt-3" id="chartCard">
    <div class="card-header">
        <h4 id="chartTitle"><strong>Scatter Plot with Jitter</strong></h4>
    </div>
    <div class="card-body">
        <div id="scatterChartContainer"></div>
    </div>
</div>

<script src="/js/charts/chartRenderer.js"></script>
<script src="/js/charts/scatter-jitter.js"></script>
